# .env.example
YOUTUBE_API_KEY=your_key_here

# IRC Client configuration
IRC_SERVER=your_irc_server_here
IRC_PORT=your_irc_port_here
IRC_CHANNEL=your_irc_channel_here
IRC_NICK=your_irc_nick_here
IRC_REALNAME=your_irc_realname_here
IRC_IDENT=your_irc_ident_here